
.carousel-img {
  height: 400px;
  object-fit: cover;
  width: 100%;
}

.news-card {
  display: flex;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.news-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  text-align: left;
}

.btn-primary {
  background-color: #007bff;
  border-color: #0056b3;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #003d80;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1030;
}

footer {
  background-color: #f8f9fa;
  padding: 15px;
  border-top: 1px solid #dee2e6;
}
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}

.content {
  flex: 1 0 auto;
}
.content h1 {
  text-align: center;
}

.table {
  margin-top: 20px;
}

footer {
  flex-shrink: 0;
}
