body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
  
}
.content {
  flex: 1;  
}
.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 80vh;
}
.post img{
  width: 100px;
  height: 75px;
}
footer {
  margin-top: auto;  
}
